//Белый цвет
$color1: #ffffff;
//Черный цвет
$color2: #1c1c1c;
//синий цвет
$color3:#3959b5;
//цвет почти белый
$color4headerline: #d9d9d9;
// То же что то такое 
$color5placeholdertext: #c8c8c8;
// Синиватый 
$color6checkboxborder: #435993;
//Феолетовый
$color7slider: #baa5e4;
//оттенок синего 
$color8buttondown: #435993;
// оттенок черного
$color9text:#1c1c1c;
//оттенок белого
$color10inputselectborder:#e5e5e5;
//оттенок серого
$color11sliderline:#e8e8e8;
//Оттенок серого
$color12borderdown: #e7e7e7;